<div class="row"
    style="padding-bottom: 5%;padding-top: 3%;background-image: url('login_bg.jpg');">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-md-offset-3 pl-5 pr-5 pt-5 pb-5"
        style="border: 1px solid rgb(212, 94, 94);background-color: white;">
        <!-- Default form login -->
        <form class="text-center border border-light p-2" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm"
            novalidate>
            <p class="h4 mb-4">Sign in</p>
            <!-- UserName -->
            <div class="form-group mb-4" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <input type="text" name="username" class="form-control" placeholder="Username"
                    [(ngModel)]="model.username" #username="ngModel" required />
                <div style="text-align: left;">
                    <span *ngIf="f.submitted && !username.valid" class="help-block">Username is required</span>
                </div>
            </div>
            <!-- Password -->
            <div class="form-group mb-4" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                    #password="ngModel" required placeholder="Password" />
                <div style="text-align: left;">
                    <span *ngIf="f.submitted && !password.valid" class="help-block">Password is required</span>
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <input type="checkbox" class="form-check-input mb-1"
                        style="margin-top: 6px;height:15px;width: 15px;" id="exampleCheck1" />Remember me
                </div>
                <div>
                    <!-- Forgot password -->
                    <a [routerLink]="['/forgot']">Forgot password?</a>
                </div>
            </div>
            <!-- Sign in button -->
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary mt-3 mb-3" type="submit" style="width:100%">Sign
                    in</button>
            </div>
            <!-- Register -->
            <p>Not a member?
                <a [routerLink]="['/register']">Register</a>
            </p>
            <!-- Social login -->
            <p>or sign in with:</p>
            <a type="button" class="light-blue-text mx-2">
                <bi name="Facebook" style="width:25px; height:25px;"></bi>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <bi name="Twitter" style="width:25px; height:25px;"></bi>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <bi name="Linkedin" style="width:25px; height:25px;"></bi>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <bi name="Github" style="width:25px; height:25px;"></bi>
            </a>
        </form>
        <!-- Default form login -->
    </div>
    <div class="col-md-4"></div>
</div>