<div><br />
    <nav aria-label="breadcrumb" class="margin:1px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Search</li>
        </ol>
    </nav>
</div>
<div class="mr-1 ml-1 container-fluid">
    <h2 style="margin: 10px;">File Name Search </h2><br /><br />
    <div class="row">
        <div class="col-lg-2 text-right"><b>Select File to Search</b></div>
        <div class="custom-file col-lg-3">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </div><br/><br/>
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-4 text-right mr-5">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>