<div><br />
    <nav aria-label="breadcrumb" class="margin:1px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Search</li>
        </ol>
    </nav>
</div>
<h2 style="margin: 10px;">Searching</h2>
<div class="content" role="main">
    <div class="row">
        <div class="col-7">
            Apache Lucene™ is a high-performance, full-featured search engine library written 
            entirely in Java. It is a technology suitable for nearly any application that requires 
            structured search, full-text search, faceting, nearest-neighbor search across 
            high-dimensionality vectors, spell correction or query suggestions.

            <br />
            <br />
            <b>Note:</b> After Searching is done. You can go for delete page and start removing...
            <a routerLink="/remove" routerLinkActive="active">delete</a>
        </div>
        <div class="col-1"></div>
        <div class="col-3" style="margin:20px;">
            <button type="button" [disabled]="!searchingEnabled" class="btn btn-primary btn-circle btn-xl"
                (click)="searchIndex()">Search</button>
        </div>
        <div class="col-1"></div>
    </div><br />
</div>