<style>
    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        display: flex;
        align-items: center;
        background-color: white;
        border-bottom: 1px solid pink;
        color: black;
        font-weight: 600;
    }

    .toolbar img {
        margin: 0 16px;
    }

    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 8px;
    }

    .toolbar #youtube-logo {
        height: 40px;
        margin: 0 16px;
    }

    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
        opacity: 0.8;
    }

    svg.material-icons {
        height: 24px;
        width: auto;
    }

    svg.material-icons:not(:last-child) {
        margin-right: 8px;
    }

    .card svg.material-icons path {
        fill: #888;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }

    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        height: 40px;
        width: 200px;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    svg#rocket-smoke {
        height: calc(100vh - 95px);
        position: absolute;
        top: 10px;
        right: 180px;
        z-index: -10;
    }

    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }

    a:hover {
        color: #125699;
    }

    .circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 8px;
        background-color: white;
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 1s ease-out;
    }

    .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
</style>
<div class="mr-0 ml-0 hContainer">
    <div class="row">
        <div class="col-8">
            <div class="row mr-2 ml-5 mt-5">
                <h3 class="user">Hello {{ loginUserName }},</h3>
                <br />
            </div>
            <div class="row mr-1 mt-1" style="color: black;margin-left: 17%">
                <h3 class="welcome">Welcome to</h3>
            </div>
            <div class="row mr-1 mt-1" style="margin-left: 30%;">
                <h3 class="title">Indexing Services</h3>
            </div>
            <div class="row mr-1 mt-5" style="margin-left: 90%;">
                <!-- <a routerLink="/login" class="nav-link waves-effect waves-light" style="color:black">Login</a> -->
            </div>
        </div>
        <div class="col-4 pt-5 pr-5">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <img src="1.png" class="d-block w-100" alt="Rlide">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="2.png" class="d-block w-100" alt="Re">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="3.png" class="d-block w-100" alt="Re">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="4.png" class="d-block w-100" alt="">
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>